@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  color: #363636;
  font-size: 1rem;
  font-family: 'Noto Sans JP', sans-serif;
  
  /* background: #eaeaea; */
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #363636;
}

ul {
  list-style: none;
}

.flex{
  display: flex;
}


.container{
  max-width: 960px;
  margin: 0 auto 0;
}

main{
  max-width: 800px;
  margin: 0 auto;
}


h1,h2{
  font-family: 'DotGothic16', sans-serif;
  text-align: center;
}

h2{
  font-weight: normal;
}

h1::before,h1::after{
  content: "-";
  padding-left: 4px;
  padding-right: 4px;
}


header{
  border-bottom: 3px dashed #8a8a8a;
  margin-bottom: 60px;
}


header img{
  display: block;
  margin: 0 auto 0;
  margin-top: 30px;
  /* border: 4px dashed #363636; */
}

header h1{
  font-size: 1.4rem;
  margin-top: 16px;
}

nav{
  max-width: 600px;
  margin: 40px auto 20px;
  font-weight: bold;
  font-size: 1.2rem;
}

nav ul{
  justify-content: space-between;
}

nav a:hover{
  opacity: 0.8;
}

.spnav{
  display: none;
}


section{
  margin-bottom: 100px;
}


section h1{
  font-size: 1.8rem;
  letter-spacing: .3em;
  margin-bottom: 30px;
}

section>p{
  text-align: center;
}

#profile{
  text-align: center;
}

#profile .icon{
  display: flex;
  align-items: center;
}
#profile img{
  min-width: 140px;
  border-radius: 12%;
}

.content{
  display: inline-flex;
  justify-content: center;
  border: 4px dashed #8a8a8a;
  padding: 30px;
}

.content .text{
  max-width: 500px;
  padding-left: 30px;
  font-size: 0.9rem;
  text-align: left;
}

.content p{
  line-height: 2em;
}


#music{
  text-align: center;
}

.audios{
  margin: 40px 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

.audios li{
  display: inline-block;
  padding: 20px 2%;
}

.audios li p{
  padding-top: 10px;
  font-size: 0.85rem;
}

#music .more p{
  padding-bottom: 16px;
}

#music .more a{
  display: inline-block;
  font-family: 'DotGothic16', sans-serif;
  letter-spacing: .1em;
  color: #fff;
  background: #363636;
  width: 300px;
  line-height: 2.2em;
  font-size: 1.8rem;
  border-radius: 4px;
  transition: opacity .3s;
}

.more a:hover{
  opacity: 0.8;
}

.audios h2{
  margin-bottom: 20px;
}


#illust .images{
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 10%;
  margin-top: 40px;

}

.images li{
  width: 48%;
  padding-bottom: 20px;

}

.images img{
  width: 100%;
}

#contact{
  margin-bottom: 200px;
}
#contact ul{
  justify-content: center;
}

#contact li{
  width: 260px;
  padding: 0 30px;
  text-align: center;
}


footer{
  text-align: center;
  padding: 20px 0;
  font-size: 0.75rem;
}


@media screen and (max-width:760px){
  header h1{
    font-size: 1.2rem;
    margin-top: 10px;
  }

  section{
    margin-bottom: 60px;
  }

  nav{
    margin: 40px auto 20px;
    font-weight: bold;
    font-size: 1.2rem;
  }
  nav li{
    text-align: center;
    display: block;
  }
  nav ul{
    max-width: 300px;
    height: 64px;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto 0;
  }

  .pcnav{
    display: none;
  }
  .spnav{
    display:inline-block;
  }

  main{
    padding: 0 4% 0;
  }

  #profile .content{
    flex-direction: column;
  }

  #profile .icon{
    justify-content: center;
  }

  #profile .text{
    padding-left: 0;
    padding-top: 20px;
    text-align: center;
  }

  #music .audios{
    flex-direction: column;
  }

  .audios li{
    display: block;
  }
}